

.App {
  text-align: left;
  
}


.App-header {
  background-image: url("./movie.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8a9fa5;
}

